/*
color-guide {
	primary: #00A599;
	complemetary: #0999BC;
	primary transparency: rgba(9, 153, 188, 0.5);
}

transitions: 
	-webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
*/
*, body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*generales*/
.inactive {
	display: none;
}
.bold {
	font-weight: 700;
}
.light {
	font-weight: 300;
}
/* Barra de navegación con despliegue lateral */

nav div.navbar {
    line-height: calc(52px - 10px);
    width: 100vw;
    background-color: rgba(255, 255, 255, 0);
    color: #00A599;
    padding: 5px 2rem;
    height: 52px;
    max-height: 52px;
    grid-column: span 12;
    position: fixed;
    display: flex;
    z-index: 100;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

nav .navbar a {
    color: #fff;
}

nav .navbar h1 {
    display: none;
}

nav .navbar .navbar__brand img {
    max-height: calc(52px - 10px);
    line-height: calc(52px - 10px);
    vertical-align: middle;
    padding: 5px;
}

nav div.navbar a {
    color: #00A599;
}

nav div.navbar ul .navbar__items {
    display: flex;
    margin-left: 2rem;
}

nav div.navbar li {
    padding: 0 1rem;
}

nav div.navbar li:hover a {
    color: #FFFFFF;
}

nav div.navbar li:hover {
    color: #FFFFFF;
}

nav div.navbar li.hoverable:hover {
    background-color: #0999BC;
    padding: 0 1rem;
    border-radius: 5px;
    height: 40px;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}
nav div.navbar .dropdown-content {
    background-color: rgba(9, 153, 188, 0.5);
    border-radius: 0px 0px 5px 5px;
    margin-top: 2px;
    font-weight: 500;
}
nav div.navbar .dropdown-content .dropdown-item li {
    padding: 5px;
}

nav div.navbar .dropdown-content .dropdown-item li a {
    color: #FFFFFF;
}

nav div.navbar .dropdown-content .dropdown-item li:hover {
    background-color: rgba(255,255,255,0.7);
    border-radius: 5px;
    padding: 5px;
}
nav div.navbar .dropdown-content .dropdown-item li:hover a {
	color: #00A599;
}
nav .navbar .navbar__items {
    display: flex;
    margin-left: auto;
}

nav .navbar .navbar__toggle {
    display: none;
    margin: auto 0 auto auto;
    cursor: pointer;
    line-height: 40px;
}

nav .navbar .sidenav--close {
    display: none;
    right: 0;
}

nav .navbar .sidenav--open {
    display: flex;
    right: 0;
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 10;
    top: 52px;
    background-color: #142744;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
    opacity: 0.95;
    transition: 2s;
}

nav .navbar .sidenav--open ul.sidenav__items li {
    width: 90vw;
}

nav .navbar .sidenav--open ul.sidenav__items li:hover a {
    color: #FFFFFF;
}

nav .navbar .sidenav--open ul.sidenav__items li:hover {
    background-color: #0999BC;
    padding: 0 1rem;
    width: 100%;
    border-radius: 5px;
}

nav .navbar .sidenav__items {
    margin: 0 auto;
    font-weight: 300;
    opacity: 0;
    transition: 0.5s;
}


/* /Barra de navegación con despliegue lateral */

@media only screen and (min-width: 1024px) {
    nav .navbar {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 480px) {
    nav .navbar .navbar__items {
        display: none;
        flex-direction: column;
    }
}


/*@media only screen and (max-width: 1200px) {
	nav .navbar .navbar__items {
		font-size: 0.8rem;
	}
	}*/

@media only screen and (min-width: 481px) and (max-width: 767px) {
    nav .navbar .navbar__items {
        display: none;
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    nav .navbar .navbar__items {
        display: none;
        flex-direction: column;
    }
}

@media only screen and (max-width: 480px) {
    nav .navbar .navbar__toggle {
        display: block;
    }
    nav .navbar .navbar__toggle .fa-bars {
        opacity: 0.8;
        display: block;
        line-height: 40px;
        transition: 1s;
    }
    nav .navbar .navbar__toggle .fa-times {
        opacity: 0;
        display: none;
        line-height: 40px;
        transition: 1s;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    nav .navbar .navbar__toggle {
        display: block;
    }
    nav .navbar .navbar__toggle .fa-bars {
        opacity: 0.8;
        display: block;
        line-height: 40px;
        transition: 1s;
    }
    nav .navbar .navbar__toggle .fa-times {
        opacity: 0;
        display: none;
        line-height: 40px;
        transition: 1s;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    nav .navbar .navbar__toggle {
        display: block;
    }
    nav .navbar .navbar__toggle .fa-bars {
        opacity: 0.8;
        display: block;
        line-height: 40px;
        transition: 1s;
    }
    nav .navbar .navbar__toggle .fa-times {
        opacity: 0;
        display: none;
        line-height: 40px;
        transition: 1s;
    }
}



/* /Barra de navegación con despliegue lateral */

/* header jumbotron*/
header .hero {
	display: flex;
}
header .hero-body {
    background-image: url(../images/mountain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    vertical-align: middle;
}
header .hero-body .container {
	height: calc(100vh - 52px);
	width: 100vw;
	max-width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}
header .hero-body .filter {
	background: linear-gradient( rgba(15,28,38, 1), rgba(15,28,38, .9), rgba(15,28,38, 0.7), rgba(15,28,38, 0));
	height: 100%;
	width: 100%;
	display: table;
}
header .herotron {
	display: table-cell;
	vertical-align: middle;
}
header img {
	margin: 0 auto;
	display: flex;
	text-align: center;
	max-width: 50vw;
}
header .hero-body h1 {
	text-align: center;
	color: rgba(255,255,255,0.8);
	margin-top: 1rem;
}
header .hero-body h1 strong {
	color:  #FFFFFF;
	font-weight: 700;
}
/* /.header jumbotron*/  

/* quienes somos*/
section.quienes-somos .selector{
	text-align: center;
	background-color: #0999BC;
	padding-top: 2rem;
}
section.quienes-somos .selector .button {
	width: 200px;
	margin: 0 20px;
}
section.quienes-somos .columns {
	margin: 0;
}
section.quienes-somos .back-color {
 	background-color: #0999BC;
}
section.quienes-somos .mision {
 	text-align: center;
 	padding: 4rem;
 	color: #FFFFFF; 
}
section.quienes-somos .mision p {
 	text-align: left;
}
section.quienes-somos .team {
	color: #FFFFFF;
	padding: 4rem 0;
	display: none;
}
section.quienes-somos .team .subtitle{
 	text-align: center;
 	color: #FFFFFF;
}
section.quienes-somos .team .detalle {
	float: left;
	margin-left: 1rem;
}
section.quienes-somos .team img {
	float: left;
	border: 2px solid #FFFFFF;
	border-radius: 5px;
}