
color-guide {
	primary: #00A599;
	complemetary: #0999BC;
	primary transparency: rgba(9, 153, 188, 0.5);
}

transitions: 
	-webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
*/
*, body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*generales*/
.inactive {
	display: none;
}
.bold {
	font-weight: 700;
}
.light {
	font-weight: 300;
}
/* Barra de navegación con despliegue lateral */

nav div.navbar {
    line-height: calc(52px - 10px);
    width: 100vw;
    background-color: rgba(255, 255, 255, 0);
    color: #00A599;
    padding: 5px 2rem;
    height: 52px;
    max-height: 52px;
    grid-column: span 12;
    position: fixed;
    display: flex;
    z-index: 100;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

nav .navbar a {
    color: #fff;
}

nav .navbar h1 {
    display: none;
}

nav .navbar .navbar__brand img {
    max-height: calc(52px - 10px);
    line-height: calc(52px - 10px);
    vertical-align: middle;
    padding: 5px;
}

nav div.navbar a {
    color: #00A599;
}

nav div.navbar ul .navbar__items {
    display: flex;
    margin-left: 2rem;
}

nav div.navbar li {
    padding: 0 1rem;
}

nav div.navbar li:hover a {
    color: #FFFFFF;
}

nav div.navbar li:hover {
    color: #FFFFFF;
}

nav div.navbar li.hoverable:hover {
    background-color: #0999BC;
    padding: 0 1rem;
    border-radius: 5px;
    height: 40px;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}
nav div.navbar .dropdown-content {
    background-color: rgba(9, 153, 188, 0.5);
    border-radius: 0px 0px 5px 5px;
    margin-top: 2px;
    font-weight: 500;
}
nav div.navbar .dropdown-content .dropdown-item li {
    padding: 5px;
}

nav div.navbar .dropdown-content .dropdown-item li a {
    color: #FFFFFF;
}

nav div.navbar .dropdown-content .dropdown-item li:hover {
    background-color: rgba(255,255,255,0.7);
    border-radius: 5px;
    padding: 5px;
}
nav div.navbar .dropdown-content .dropdown-item li:hover a {
	color: #00A599;
}
nav .navbar .navbar__items {
    display: flex;
    margin-left: auto;
}

nav .navbar .navbar__toggle {
    display: none;
    margin: auto 0 auto auto;
    cursor: pointer;
    line-height: 40px;
}

nav .navbar .sidenav--close {
    display: none;
    right: 0;
}

nav .navbar .sidenav--open {
    display: flex;
    right: 0;
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 10;
    top: 52px;
    background-color: #142744;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
    opacity: 0.95;
    transition: 2s;
}

nav .navbar .sidenav--open ul.sidenav__items li {
    width: 90vw;
}

nav .navbar .sidenav--open ul.sidenav__items li:hover a {
    color: #FFFFFF;
}

nav .navbar .sidenav--open ul.sidenav__items li:hover {
    background-color: #0999BC;
    padding: 0 1rem;
    width: 100%;
    border-radius: 5px;
}

nav .navbar .sidenav__items {
    margin: 0 auto;
    font-weight: 300;
    opacity: 0;
    transition: 0.5s;
}


/* /Barra de navegación con despliegue lateral */

@media only screen and (min-width: 1024px) {
    nav .navbar {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 480px) {
    nav .navbar .navbar__items {
        display: none;
        flex-direction: column;
    }
}


/*@media only screen and (max-width: 1200px) {
	nav .navbar .navbar__items {
		font-size: 0.8rem;
	}
	}*/

@media only screen and (min-width: 481px) and (max-width: 767px) {
    nav .navbar .navbar__items {
        display: none;
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    nav .navbar .navbar__items {
        display: none;
        flex-direction: column;
    }
}

@media only screen and (max-width: 480px) {
    nav .navbar .navbar__toggle {
        display: block;
    }
    nav .navbar .navbar__toggle .fa-bars {
        opacity: 0.8;
        display: block;
        line-height: 40px;
        transition: 1s;
    }
    nav .navbar .navbar__toggle .fa-times {
        opacity: 0;
        display: none;
        line-height: 40px;
        transition: 1s;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    nav .navbar .navbar__toggle {
        display: block;
    }
    nav .navbar .navbar__toggle .fa-bars {
        opacity: 0.8;
        display: block;
        line-height: 40px;
        transition: 1s;
    }
    nav .navbar .navbar__toggle .fa-times {
        opacity: 0;
        display: none;
        line-height: 40px;
        transition: 1s;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    nav .navbar .navbar__toggle {
        display: block;
    }
    nav .navbar .navbar__toggle .fa-bars {
        opacity: 0.8;
        display: block;
        line-height: 40px;
        transition: 1s;
    }
    nav .navbar .navbar__toggle .fa-times {
        opacity: 0;
        display: none;
        line-height: 40px;
        transition: 1s;
    }
}



/* /Barra de navegación con despliegue lateral */

/* header jumbotron*/
header .hero {
	display: flex;
}
header .hero-body {
    background-image: url(../images/mountain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    vertical-align: middle;
}
header .hero-news {
    background-image: url(../images/noticias.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    vertical-align: top;
}
header .hero-body .container {
	height: calc(100vh - 52px);
	width: 100vw;
	max-width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}
header .hero-news .container {
	height: calc(50vh - 52px);
	width: 100vw;
	max-width: 100%;
	top: 0;
	left: 0;
}
header .hero-body .filter {
	background: linear-gradient( rgba(15,28,38, 1), rgba(15,28,38, .9), rgba(15,28,38, 0.7), rgba(15,28,38, 0));
	height: 100%;
	width: 100%;
	display: table;
}
header .hero-news .filter {
	background: linear-gradient( rgba(15,28,38, .9), rgba(15,28,38, .4), rgba(15,28,38, 0.1), rgba(15,28,38, 0));
	height: 100%;
	width: 100%;
	display: table;
}
header .herotron {
	display: table-cell;
	vertical-align: middle;
}
header img {
	margin: 0 auto;
	display: flex;
	text-align: center;
	max-width: 50vw;
}
header .hero-body h1,
header .hero-news h1 {
	text-align: center;
	color: rgba(255,255,255,0.8);
	margin-top: 1rem;
}
header .hero-body h1 strong,
header .hero-news h1 strong {
	color:  #FFFFFF;
	font-weight: 700;
}
/* /.header jumbotron*/  

/* quienes somos*/
section.quienes-somos {
	text-align: center;
	background-color: #0999BC;
	padding-top: 2rem;
}
section.quienes-somos .selector .button {
	width: 200px;
	margin: 0 20px;
}
section.quienes-somos .columns {
	margin: 0;
}
section.quienes-somos .team .column .caja {
	display: flex;
	justify-content: center;
}
section.quienes-somos .mision {
 	text-align: center;
 	padding: 4rem;
 	color: #FFFFFF; 
}
section.quienes-somos .mision p {
 	text-align: left;
}
section.quienes-somos .team {
	color: #FFFFFF;
	padding-top: 2rem;
	padding-bottom: 4rem;
	display: none;
}
section.quienes-somos .team .subtitle{
 	text-align: center;
 	color: #FFFFFF;
}
section.quienes-somos .team img {
	border: 2px solid #FFFFFF;
	border-radius: 5px;
}
/* end quienes somos*/

/* start empresa*/
section.empresa .selector{
	text-align: center;
	margin: 2rem;
}
section.empresa .selector .button {
	padding: 1rem;
	margin: 0 5px;
    border-color: #0999BC;
    color: #0999BC;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
section.empresa .selector .button:hover {
	padding: 1rem;
	margin: 0 5px;
    background-color: #0999BC;
    color: #FFFFFF;
}
section.empresa .selector .button.is-active {
	padding: 1rem;
	margin: 0 5px;
    background-color: #0999BC;
    color: #FFFFFF;
}
section.empresa .estrategia__detail .title {
	text-align: center;
	margin-bottom: 2rem;
	color: #000;
}
section.empresa .estrategia__detail .title span.light {
	color: #AAAAAA;
	font-weight: 300;
}
section.empresa .estrategia__detail .subtitle {
	text-align: center;
}
section.empresa .estrategia__detail hr {
	background-color: #0999BC;
	opacity: .2;
}
section.empresa .estrategia__detail ul {
	margin-left: 1rem;
	list-style-type: circle;
	padding-left: 1rem;
}
section.empresa .estrategia__detail .text {
	padding: 2rem;
	margin-bottom: 1rem;
}
section.empresa .estrategia__detail .text p {
	margin-bottom: 2rem;
}
section.empresa .estrategia__proceso {
	text-align: center;
	display: none;
}
/* subsection empresas*/
section.empresa .empresas {
	background: linear-gradient(to right, #00A599, #0999BC);
	text-align: center;
	margin: 3rem 0;
	padding: 4rem;
}
section.empresa .empresas p {
	color: #FFFFFF;
}
section.empresa .empresas .titulos {
	margin-bottom: 3rem;
}
section.empresa .empresas-activas {
	border-radius: 10px;
	border: solid 2px #FFFFFF;
	padding: 4rem;
}
section.empresa .otras-empresas {
	background-color: #FFFFFF;
	border-radius: 10px;
	text-align: center;
	margin: 3rem 0 0 0 ;
	padding: 4rem;
}
section.empresa .otras-empresas p {
	color: #00A599;
}
section.empresa .otras-empresas hr {
	background-color: #00A599;
}
/* subsection empresas*/
/* subseccion iniciativas sociales*/
section.empresa .iniciativas-sociales {
	text-align: center;
}
section.empresa .iniciativas-sociales .social {
	padding: 2rem;
}
section.empresa .iniciativas-sociales .social p {
	text-align: left;
	margin-bottom: 1rem;
}
/* endsubseccion iniciativas sociales*/
/* end empresa */

/* Noticias */
section.noticias .title {
	text-align: center;
	margin: 2rem 0;
}
section.noticias ul {
	margin: 0 5rem;
}
section.noticias .subtitle {
	color: #00A599;
	font-weight: 700;
}
section.noticias p {
	margin-bottom: 1rem;
}
section.noticias img {
	border-radius: 5px;
}
section.noticias .noticia {
	margin-bottom: 2rem;
	border-bottom: solid 2px #00A599;
}
/* end Noticias */

/* contacto */
section.contacto {
	padding-top: 52px;
}
.contact {
  background-image: url(../images/contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #142744;
  padding: 2rem;
}
.contact p.title,
.contact .subtitle {
  text-align: center;
  color: #fff;
}
.contact p {
  color: rgba(255, 255, 255, 0.9);
}
.contact .container-contact {
  max-width: 500px;
  padding: 2rem;
  background: linear-gradient(#00A599, #0999BC);
  border-radius: 5px;
  opacity: 0.9;
}
.contact .container-contact input {
  width: 100%;
  margin-bottom: 1rem;
  height: 35px;
  border-radius: 5px;
  border: solid 1px #1B365E;
  padding: 0.5rem;
}
.contact .container-contact textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
}
.contact .container-contact .button {
  border: solid 2px rgba(255, 255, 255, 0.9);
  background-color: #00A599;
  color: #fff;
}
.contact .container-contact .button .fa-paper-plane {
  margin-left: 0.25rem;
}

/* end contacto */

/*footer*/
footer {
	background-color: #111111;
	padding: 2rem;
	text-align: left;
}
footer a {
	color: #FFFFFF;
}
footer .subtitle {
	font-size: .9rem;
}
/*end footer*/